// SPDX-License-Identifier: MIT
pragma solidity ^0.8.0;

import "forge-std/Test.sol";
import "{{ contract.path }}";

contract Handler is Test {
    {{ contract.name }} internal implementation;
    uint256 public ghost_rate;
    
    constructor({{ contract.name }} _implementation) {
        implementation = _implementation;
    }

    function distribute() public {
        // Execute distribution logic
        // implementation.distribute();
        
        // Update ghost variables to track rate changes
        // ghost_rate = ...
    }
}
